@model PostVM
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<form method="post">
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Post</h2>
        </div>
       <input asp-for="Post.Id" class="form-control" hidden />
      <div class="mb-3 row">
            <label asp-for="Post.Title" class="p-0"></label>
            <input asp-for="Post.Title" class="form-control" disabled />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
         <div class="mb-3 row">
            <label asp-for="Post.CreateAtDate" class="p-0"></label>
            <input asp-for="Post.CreateAtDate" class="form-control" disabled />
            <span asp-validation-for="Post.CreateAtDate" class="text-danger"></span>
        </div>   
        <div class="mb-3 row">
            <label asp-for="Post.Rate" class="p-0"></label>
            <input asp-for="Post.Rate" class="form-control" disabled />
                        <span asp-validation-for="Post.Rate" class="text-danger"></span>
        </div>   
        <div class="mb-3 row">
            <label asp-for="Post.NumberView" class="p-0"></label>
            <input asp-for="Post.NumberView" class="form-control" disabled />
                        <span asp-validation-for="Post.NumberView" class="text-danger"></span>
        </div>   
        <div class="mb-3 row">
            <label asp-for="Post.Decription" class="p-0"></label>
            <textarea id="tiny" asp-for="Post.Decription" class="form-control"></textarea>
            <span asp-validation-for="Post.Decription" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Post.CategoryId" class="p-0"></label>
            <select asp-for="Post.CategoryId" asp-items="@Model.CategoryList" class="form-select" disabled>
                <option disabled selected>--Select Category</option>
            </select>
            <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="@Model.ListTagAdd" class="p-0"></label>
            <select asp-for="@Model.ListTagAdd" asp-items="@Model.TagList" class="selectpicker form-control" multiple data-live-search="true" disabled>
            </select>
            <span asp-validation-for="@Model.ListTagAdd" class="text-danger"></span>
        </div>  
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-danger form-control" >Delete</button>
            </div>
            <div class="col-6">
                  <a asp-area="Admin" asp-controller="Post" asp-action="Index" class="btn btn-secondary form-control">
                        Back to List
                    </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}